<div class="text-center mt-5">
  <h4>"ねこじた"は「ねこの画像投稿サイト」</h4>
  <p class=""><i class="fas fa-paw"></i> 会員登録をして画像を投稿</p>
  <p class=""><i class="fas fa-paw"></i> 気に入った画像をお気に入り登録</p>
  <p class=""><i class="fas fa-paw"></i> たくさんのねこと出会おう</p>
</div>
