// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photos-parent {
  justify-content: space-between;
  width: 100%;
}

.photos-children {
  display: inline-block;
  margin: 20px;
}

.paginate-parent {
  text-align: center;
}

.paginate-children {
  display: inline-block;
}
